<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalpackagesfolder" value="..\..\installed_packages" />
  </config>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />	
  </solution>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
	  <add key="Local" value="..\..\output_packages" />
      <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
      <add key="Artifactory" value="https://artifactory.infra/artifactory/api/nuget/sv-framework-nuget" />
  </packageSources>
  <disabledPackageSources />
</configuration>